<!DOCTYPE html>

<!--  
this is my blog, if you're really curious about the source 
code I suggest looking here: https://github.com/lrcrews/ryancrews.com
-->

<%# 
this is my blog. With th exception of the above, all comments
in these files will be rails comments, not HTML comments.  Why?
Well, though I don't have any strong reasons for this site, in 
general I think it's a good idea to use rails comments so any
notes to other developers, to yourself, TODOs, and so on aren't
shared with any random user that decides to view source on your
page.
%>
<html ng-app="rcblogApp">


	<head>
		<title>ryan crews | words and stuff</title>

  	<%# stylesheets %>
  	<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' %>
		<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans' %>
		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Inconsolata' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

		<%# scripts %>
		<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>
	  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js' %>
	  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	  <%# don't currently need this %>
	  <%# csrf_meta_tags %>

	  <%# fav icons %>
	  <%# thankyou very much: http://realfavicongenerator.net %>
	  <%# via: http://stackoverflow.com/questions/2268204/favicon-dimensions/23734416#23734416 %>
	  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#fefefe">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">

		<%# let's give ourselves a chance to look good on a phone %>
		<meta name="viewport" content="width=device-width">
	</head>


	<body class="rcblog" ng-controller="SiteController" ng-init="initialize()" ng-cloak>
		<%= include_gon %>
		
		<%= render partial: "shared/site_header" %>
		
		<section class="page-container">
			<%= yield %>
		</section>

		<%= render partial: "shared/site_footer" %>
	</body>


	<%# Google Analytics %>
	<% if Rails.env.production? %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-13018761-1', 'auto');
		  ga('send', 'pageview');
		</script>
	<% end %>


</html>
